doctype html
html(lang='en')
    include head
        link(href="/css/syntax-highlighting-github-style.css" rel="stylesheet")
    body
        if (custom_navigation && custom_navigation.NoTm)
            include navbar_custom_no_tm
            #customer
                block content
        else
            include navbar_home
            if (custom_navigation)
                #customer
                    block content
            else
                block content
